<!DOCTYPE html>
<html>
<head>
  <title>Auctionsite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Auction Marketplace</h1>
  </header>

<%= yield %>

<footer>
  <p>© Ironhack</p>
  <p>Gonzalo MV</p>
</footer>
</body>
</html>
